.benefit-content-container {
    cursor: pointer;
    user-select: none;

    p {
        transition: all 0.5s;
    }

    .collapsed {
        height: 0;
        overflow: hidden;
    }

}

.plus-icon {
    cursor: pointer;
    user-select: none;
}