.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  .hero1 {
    background-color: #efefef;
  }

  .bgWhite {
    background-color: #fff;
  }

  .hero3 {
    background-image: url(/imgs/hero-bg-3.png);
    background-size: cover;
    background-position: center center;
  }
  
  .infoCard {
    background-color: #EBF3F6;
  }
}